{% extends "base.html" %}

{% load static %}

<h1>Login</h1>
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ login_form.as_p }}
        <button>Login</button>
    </form>
{% endblock content %}
