{% extends "base.html" %}

{% load static %}

<h1>Signup</h1>
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ signup_form.as_p }}
        <button>Signup</button>
    </form>
{% endblock content %}
