{% extends "base.html" %}

{% load static %}

{% block content %}
    <h1>My Tasks</h1>
    {% if not task_list %}
        <p>You have no tasks</p>
    {% else %}
        <table>
            <th>Name</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th>Is Completed</th>
            {% for task in task_list %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_completed|yesno }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock content %}
