{% extends "base.html" %}

{% load static %}

<h1>Create a new project</h1>
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ project_form.as_p }}
        <button>Create</button>
    </form>
{% endblock content %}
