{% extends "base.html" %}

{% load static %}

{% block content %}
    <h1>My Projects</h1>
    <p>
        <a href="{% url "create_project" %}">Create a new project</a>
    </p>
    {% if not project_list %}
        <p>You are not assigned to any projects</p>
    {% else %}
        <table>
            <th>Name</th>
            <th>Number of tasks</th>
            {% for project in project_list %}
                <tr>
                    <td>
                        <a href ="{% url "show_project" project.id %}">{{ project.name }}</a>
                    </td>
                    <td>{{ project.tasks.all|length }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock content %}
