{% extends "base.html" %}

{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>{{ project_instance.name }}</h1>
        <p>{{ project_instance.description }}</p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url "create_task" %}">Create a new task</a>
        </p>
        {% if project_instance %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
                {% for project in project_instance.tasks.all %}
                    <tr>
                        <td>{{ project.name }}</td>
                        <td>{{ project.assignee }}</td>
                        <td>{{ project.start_date }}</td>
                        <td>{{ project.due_date }}</td>
                        <td>{{ project.is_completed|yesno }}</td>
                    {% empty %}
                        <p>This project has no tasks</p>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endif %}
{% endblock content %}
